# postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=postgresql://user:password@localhost:5432/database_name

# redis
REDIS_PASSWORD=
REDIS_MAX_MEMORY=256mb
REDIS_MAX_MEMORY_POLICY=allkeys-lru
REDIS_URL=redis://:redis_password@localhost:6379

# google oauth2 creds
CLIENT_ID=
CLIENT_SECRET=
AUTH_URL=https://accounts.google.com/o/oauth2/auth
TOKEN_URL=https://oauth2.googleapis.com/token
REDIRECT_URL=
